body {
    height: auto;
    background: url(./assets/img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

@media only screen and (max-width: 991px){
    body {
        background: url(./assets/img/phonebg.png);
        background-repeat: no-repeat;
        background-size: 10%;
    }
}
@media only screen and (max-width: 711px){
    body {
        background: url(./assets/img/phonebg.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
@media only screen and (max-width: 1024px){
    body {
        width: auto;
        background: url(./assets/img/background.png);
        background-repeat: no-repeat;
    }
}

img {
    display: block;
}

.logo {
    width: 375.58px;
    margin-top: 100px;
    margin-left: 100px;
}
@media only screen and (max-width: 991px) {
    .logo {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        
    }
}
.boxleft {
    display: block;
    float: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.boxleft .image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
@media only screen and (max-width: 991px) {
    .boxleft {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (max-width: 991px) {
    .boxleft .image1 {
        display: block;
        float: none;
        width: 374px;
        height: 323px;
        align-items: center;
    }
}
@media only screen and (max-width: 667px) {
    .boxleft .image1 {
        display: block;
        float: none;
        width: 304px;
        height: 253px;
        align-items: center;
    }
}
@media only screen and (max-width: 1024px) {
    .boxleft .image1 {
        display: block;
        float: none;
        width: 80%;
        align-items: center;
    }
}

.boxcontent {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.boxcontent .title1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 92px;
    line-height: 70px;
    margin: 0;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 991px) {
    .boxcontent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 30px;
    }
}
@media only screen and (max-width: 991px) {
    .boxcontent .title1 {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        font-size: 66px;
    }
}
.boxcontent .box2 {
    align-items: center;
    display: flex;
    text-align: center;
    margin-right: 90px;
    flex-direction: column;
}
.boxcontent .box2 h4 {
    display: flex;
    margin: 0;
    align-items: center;
    margin-right: auto;
    justify-content: space-between;
    font-size: 92px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    width: 20px;
    color: white;
}
@media only screen and (max-width: 991px) {
    .boxcontent .box2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-right: 0px;
    }
}
@media only screen and (max-width: 991px) {
    .boxcontent .box2 h4 {
        display: flex;
        align-items: center;
        font-size: 66px;
        margin-left: 12px;
        flex-direction: row;
    }
}
@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-Regular-slnt=0.ttf);
}
@font-face {
    font-family: inter-bold;
    src: url(./assets/fonts/Inter-Bold-slnt=0.ttf);
}
.boxcontent .title3 {
    font-family: inter-bold;
    font-weight: 400;
    font-size: 38px;
    margin-left: 5px;
    padding-left: 10px;
    letter-spacing: 21px;
    text-align: start;
    justify-content: center;
    -webkit-text-fill-color: white;
}
h1 {
    margin: 0px;
    font-size: 38px;
    letter-spacing: 9.5px;
}
@media only screen and (max-width: 991px) {
    .boxcontent .title3 {
        flex-direction: column;
        font-size: 27px;
        letter-spacing: 14px;
    }
    h1 {
        font-size: 27px;
        letter-spacing: 6px;
    }
}
.text1 {
    font-size: 21.5px;
    color: rgba( 255, 255, 255, 0.6);
    font-family: inter;
}

.text2 {
    font-size: 20px;
    color: rgba( 255, 255, 255, 1);
    align-items: center;
    justify-content: center;
    font-family: inter;
}
@media only screen and (max-width: 991px) {
    .text1 {
        margin-left: 0px;
        font-size: 16px;
        text-align: center;
    }
}
@media only screen and (max-width: 991px) {
    .text2 {
        margin-left: 0px;
        font-size: 16px;
        text-align: center;
    }
}
.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}
.button {
    display: flow-root;
    position: relative;
    font-size: 18px;
    font-family: inter;
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    letter-spacing: 1.2px;
    text-align: center;
    width: 310px;
}
@media only screen and (max-width: 991px) {
    .button {
        font-size: 16px;
        padding: 15px 15px;
    }
}
.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    border: 1px solid transparent;
    background: linear-gradient(140deg, rgba(0, 123, 255, 0.8), rgba(255, 235, 59, 0.8)) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
.box2 {
    display: flex;
    align-items: center;
    text-align: center;
}